@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'NanumBarunGothic', 'serif';
}

#grid {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr 4fr 1fr;
	grid-template-areas:
	"header1 mainHeader header2"
	"nav contents aside"
		"footer footer footer";
}

#mainHeader {
	grid-area: mainHeader;
	background-color: rgb(250, 237, 198);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#sub1 {
	grid-area: header1;
	background-color: rgb(250, 237, 198);
}

#sub2 {
	grid-area: header2;
	background-color: rgb(250, 237, 198);
}

main {
	grid-area: contents;
	background-color: rgb(250, 187, 81);
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login {
	width: 5%;
	height: 25%;
}

nav {
	grid-area: nav;
	background-color: rgb(250, 237, 198);
}

aside {
	grid-area: aside;
	background-color: rgb(250, 237, 198);
}

footer {
	grid-area: footer;
	background-color: rgb(250, 237, 198);
}

#content{
	display:flex;
	height: 15%;
}

form{
	display:flex;
	align-items: center;
    flex-direction: column;
    justify-content: space-around;
}